.information {
  padding: 2rem 1.5rem;
  text-align: center;

  h2 {
    margin-bottom: 1.5rem;
  }

  .account-btn {
    background: var(--theme-primary);
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
  }

  .account-btn:active {
    background: var(--theme-primary-light);
  }
}


.account-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.account-modal {
  background: white;
  width: 90%;
  max-width: 420px;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.account-item {
  background: #fff7f7;
  padding: 12px 16px;
  border-radius: 12px;
  margin-bottom: 12px;
  position: relative;
}

.account-title {
  font-weight: 700;
  margin-bottom: 4px;
}

.account-number {
  font-size: 0.95rem;
  margin-bottom: 8px;
}

.copy-btn {
  border: none;
  background: #eab1b8;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
}

.copy-btn:active {
  background: #d89099;
}

.close-btn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background: #ffdde3;
}
