.information {
  padding: 3rem 1.5rem;
  text-align: center;
  max-width: 640px;
  margin: 0 auto;

  h2 {
    margin-bottom: 2rem;
    font-weight: 600;
  }

  /* 버튼 영역 */
  .info-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.2rem;
  }
}
