.bg-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 99999;
}

.bg-effect canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;   
  top: 0;
  left: 0;
}
